body {
  padding-top: 40px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1)
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
.sidebar .active {
  color: #007bff;
}